.box{
    background-color: lightblue; 
    margin: 40px; 
    padding: 20px;
    
  }
  .img{
    text-align:center;
  }

  

  .text{
    background-color: lightblue(230, 173, 182); 
    margin-left:  30%; 
    padding: 20px;
    text-align: left;
  }

  .button{
    background-color: aqua;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 40 px; 
    }
  
  .location{
    text-align:center;
    margin: 40 px; 
  }
 
 
  
 
 