h1 {
    text-align: center;
    color: rgb(32, 77, 52);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding : 10px;
    border-radius: 20px;
    background-color: rgb(235, 176, 212);
}
article{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
a:link{color: red;}
a:visited{color: green;}
a:hover{color: hotpink;}
a:active{color: blue;}