body {
      
    background: linear-gradient(#33FF99, #47a8e8, #d68ef4);
    
 
}
.box_input {
    border-radius: 20px;
    
    width :100%;
    height:40px;
    padding-left: 10px;
    background-color: #9c2828;
}
.box_chat{
    background-color: rgb(215, 218, 222);
    width:400px;
    height: 600px;
    margin:50px auto;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
}
.top{
    display :flex;
    align-items: center;
    padding-left: 20px;
    width: 380px;
    height: 60px;
    background-color: #47a8e8;
}
.input_box{
    width:390px;
    height:60px;
    display:flex;
    align-items: center;
    background-color: #47a8e8;
    padding-left: 10px;
}
.input_box input {
    border: none;
    height:60%;
    width :80%;
    padding-left: 10px;
    
}
.input_box button {
    margin-left :5px;
    height :60%;
    width: 15%;
    background-color: azure;
    border-radius:0 15px 15px 0 ;

}
.box_messages{
    width:90%;
    height: 90%;
    padding:20px;
    overflow-x:hidden;
    overflow-y:auto;
    
}
.messages{
    background-color: #FFFF00	;
}
.msg_me{
    background-color: aquamarine;
    width:max-content;
    padding:10px;
    border-radius:5px 0 5px 5px;
    max-width: 50%;
}
.msg_user
{
    background-color: aquamarine;
    width:max-content;
    padding:10px;
    border-radius:5px 0 5px 5px;
    max-width: 50%;

}
a{
    margin-Left:50%;
    align-items: right;
}.msg_megod{
    background-color:#FFFF00;
    width:max-content;
    padding:10px;
    border-radius:5px 0 5px 5px;
    max-width: 50%;
}
.msg_usergod
{
    background-color: #FFFF00;
    width:max-content;
    padding:10px;
    border-radius:5px 0 5px 5px;
    max-width: 50%;

}
.usergod{
    color: #FF0033;
}

