 body {
      
            background: linear-gradient(#33FF99, #47a8e8, #d68ef4);
            display: flex;
            
            justify-content: center;
            min-height: 100vh;
            margin: 0;
           
            font-family: Arial, Helvetica, sans-serif;
        }
header{
    font-size: 55px;
}
h1 {

    font-size: 20px;
    line-height : 19px;
    
    
}
b{
    font-size: 20px;
    line-height : 18px;
}
.box input{
    /*ไว้ตกแต่งกล่องรับความ*/
    width:300px;
    height: 20px;
     border-radius:10px;
     border:solid 2px #252525;
     padding : 5px;
     font-size:18px;
     
}
button{
    font-size:18px;
    font-weight: 120%;
    border-radius:7px;
    width:90%;height:35px;
    background-color:#00FF33;
    border:solid 2px #252525


}
