
.box{
      background-color: lightblue; 
      margin: 40px; 
      padding: 20px;
      text-align: center;
      font-family: Leelawadee ;
      font-size: 18px;
    }
    .img{
      text-align:center;
    }

    .button{
      background-color: rgb(159, 221, 172);
      padding: 20px;
      text-decoration: none;
      display: inline-block;
      border-radius:150px;
      }

    .text{
      background-color: lightblue(230, 173, 182); 
      margin-left:  30%; 
      padding: 20px;
      text-align: left;

    }
    