@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9efe3;
}
.box{
  background-color: #afcbc0;
  margin: 40px; 
  padding: 20px;
  border-radius: 20px;
}
.img{
  margin-top: 20px;
  text-align:center;
  display: flex;
}
.text{
  margin: center;
  padding: 40px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.button{
  color: #000;
  background-color: #f2d5cb;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  margin: center; 
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #ccc2c0;
}
.location{
  text-align:center;
  margin: 40 px; 
}